*{
    margin: 0;
    margin-top: 4px;
    background-color: rgb(0, 0, 0);
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 100vw;
    /* background: url(background.jpeg) no-repeat center/cover; */
}
.nav{
    display:flex;
    flex-direction: row;
    list-style: none;
    padding-left: 185px;
    background: linear-gradient(to right, rgb(198, 237, 221),rgb(84, 241, 176),rgb(3, 248, 146));
}
.nav li{
    padding-left: 20px;
    color: rgb(6, 6, 6);
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
#img{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    box-shadow: 20px 80px 30px rgba(84, 248, 2, 0.1);
}
#img:hover{
    transform: rotate(360deg);
    transition: 2s;
}
#btn1{
    background-color: rgb(8, 74, 28);
    margin-left: 650px;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 172px;
    height: 30px;

    border: 3px ridge black;
}
.srch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}
#srch1{
    color: rgb(243, 239, 239);
    border: 3px solid rgb(84, 241, 176);
    border-radius: 7px;
    width: 500px;
}
#srch1:hover{
    transform: scale(2,2);
    cursor: pointer;
}
.main{
    /* background-color: rgb(56, 120, 176); */
    display: flex;
    margin-top: 35px;
    width: 100%;
    flex-direction: row;
    padding-left: 30px;

}
#img1{
   height: 400px;
   width: 350px;
   border-radius: 3px;
   margin-left: 50px;
   border-radius: 100px;
   border: 20px solid white;
   background-color: aliceblue;
}
#img1:hover{
   transform: rotateY(180deg);
   transition: 1s;
}
#info{
    margin-left: 300px;
    margin-top: 80px;
    color: aliceblue;
    padding-left: 50px;
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
#ft{
    color:rgb(84, 241, 176) ;
    font-size: 40px;
    margin-top: 30px;
}
#ft:hover{
    font-size: 50px;
    color:chartreuse ;
}

#st{
    /* display: flex;
    flex-direction: column;
    text-align: start; */
    /* background-color: aliceblue; */
}
#BTN2{
    background: transparent;
    border: 2px solid rgb(84, 241, 176);
    color: rgb(84, 241, 176);
    padding: 5px;
}
#para{
    margin-top: 30px;
}
#btn2{
    margin: 30px 250px;
}
#btn1:hover{
    background-color: rgb(155, 227, 197);
    cursor: pointer;
}
#btn1:active{
    background-color: rgb(204, 242, 226);
}
#BTN2:hover{
    color: rgb(7, 126, 76);
    transform: scale(1.5,1.5);
    cursor: pointer;
    background-color: rgb(7, 126, 76);
    color: black;
}
#BTN2:active{
    background-color: rgb(194, 239, 220);
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* color-scheme: black; */
    align-items: center;
    background-color: rgb(52, 116, 6);
    height: 50px;
    /* margin-top: 50px;*/
}
.social-icons{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
    height: 10px;
    width: 10px;
    border-radius: 50px;
}
#f{
    color: rgb(84, 241, 176);
    font-size: 20px;
    padding-left: 10px;
}
.i{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}